@import "../../../styles/vars";
@import "../../../styles/mixins";


.tenantReportDateFilterForm {
  @include flexCol();
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;

  &__title {
    @include setFont(20px,400)
  }

  &__fields {
    @include flexCol();
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  &__label {
    align-self: flex-start;
  }

  &__buttons {
    width: 100%;
    @include flexCol();
    gap: 10px;
  }

}
