@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainList__cameraControl {
    @include flexCol(space-between,flex-start);
    gap: 20px;
    margin-bottom: 10px;

    @include mdScreenMedia {
        flex-direction: column;
    }
}