<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Nodejs" stopProcessing="true">
          <match url="/*" />
          <action type="Rewrite" url="/server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>